*{
	margin: 0;
	padding: 0;
}

.container{
	font-family: "Times New Roman",Serif;
	border:solid;
	border-color: #9ec29e;
	margin: 0px 40px; 
	width:1120px;
	margin: 0 auto;
    vertical-align: middle;
}

.header-label{
	float: right;
	margin: 23px 111px;
}

a{
	text-decoration: none;
}

.gray-label{
  	font-size: 12px;
  	color: #afafaf;
}
.black-label{
	color: black;
}

.line{
	border-bottom:1px solid #c5c5c5; 
	padding: 10px 0px;
}
.menu{
	margin: 42px 60px;
	width: 200px;
}

.title-label {
  	font-size: 32px;
}

.menu ul {
 	list-style-type: none;
 	margin: 27px 0px;
    border-top: solid 2px #c5c5c5;
	border-bottom: solid 1px #c5c5c5;
}

.line:before {
	content: ">";
    color: #afafaf;
    font-size: 12px;
}

.image{
	position: absolute;
	top:51px;
	left:389px;
	width: 700px;
	height: 241px;
}


hr{
	margin: -32px 19px;
}

.content-heading{
	margin:50px 24px 25px 19px;
}

.accordion-box{
	border:solid 2px #c5c5c5;
	margin: 0px 111px 0px 19px;
	padding: 9px;
    border-radius: 3px;
}

.data-column {
  	margin: 35px 0px 15px 19px;

}
.data-column-section{
	width: 212px;
	float: left;
  	margin: 0px 79px 0px 0px;
}

.data-column p{
	margin-top: 15px;
	font-size: 12px;
    color: gray;
}

.data-column ul{
	margin-top: 15px;
	list-style-type: none;
}
.data-column li{
	
	font-size: 10px;
    color: gray;
    margin: 5px 0px;
}
.data-column label{
	font-size: 12px;
    color: white;
    background-color: black;
    margin: 0px 5px 0px 0px;
    border: solid 1px;
    border-radius: 3px;
    padding: 0px 2px 0px 0px;
}